doctype html
html
  head
    title= "Laptop Builder"
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/qunit.css')
script(src='/js/jquery.js')
script(src='/js/qunit.js')
script(src='/js/test.js')
body
a(href="/laptops") Home
br
block content