doctype html
html
  head
    title= "Laptop Builder"
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
body
a(href="/laptops") Home
br
block content